[Unit]
Description=Oxen network node
After=network-online.target
Before=loki-storage.service

[Service]
User=_loki
Type=notify
TimeoutStartSec=infinity
WatchdogSec=5min
WorkingDirectory=/var/lib/oxen
Restart=always
RestartSec=5s
ExecStart=/usr/bin/oxend --non-interactive --config-file /etc/oxen/oxen.conf
# Enable coloured daemon output:
Environment=TERM=xterm

[Install]
WantedBy=multi-user.target
